<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Análise de Risco</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.1/angular.min.js"></script>
		<script src="/js/app.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body ng-app="AnaliseManagement" ng-controller="AnaliseController">
		<div class="container-fluid">
			<h1>Análise Risco</h1>
			<h4 style="color: {{response.status == 200 ? 'blue' : 'red'}}">{{ message }}</h4>
			<div class="row">
				<div class="col-4">
					<form ng-submit="calcularProposta()">
						<table class="table table-bordered">
							<tr>
								<td>Nome Cliente</td>
								<td><input type="text" ng-model="analiseForm.nomeCliente" ng-blur="listarHistorico()" /></td>
							</tr>
							<tr>
								<td>Categoria Risco</td>
								<td>
									<select ng-model="analiseForm.categoriaRisco" ng-change="calcularProposta()">
										<option value="A">A</option>
										<option value="B">B</option>
										<option value="C">C</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Valor Solicitado</td>
								<td>
									<input type="number" ng-model="analiseForm.valorSolicitado" placeholder="Valor Solicitado" ng-blur="calcularProposta()" />
								</td>
							</tr>
						</table>
					</form>

					<form ng-submit="submitProposta()"  ng-hide="propostaResponse.valorJuros == null">
						<h4>Confirme a Proposta</h4>
						<table class="table table-bordered">
							<tr>
								<td>Nome Cliente</td>
								<td>{{ analiseForm.nomeCliente }}</td>
							</tr>
							<tr>
								<td>Valor Solicitado</td>
								<td>{{ analiseForm.valorSolicitado | currency : 'R$' : 2 }}</td>
							</tr>
							<tr>
								<td>Categoria de Risco</td>
								<td>{{ analiseForm.categoriaRisco }}</td>
							</tr>
							<tr>
								<td>Valor Juros</td>
								<td>{{ propostaResponse.valorJuros | currency : 'R$' : 2 }}</td>
							</tr>
							<tr>
								<td colspan="2">
									<input type="submit" value="Enviar Proposta" class="blue-button" ng-readonly="propostaValida" />
								</td>
							</tr>
						</table>
					</form>

				</div>

				<div class="col-8">
					<div ng-hide="analises.length == 0">
						<h4>Histórico de Propostas do Cliente</h4>
						<table class="table table-bordered thead-light">
							<tr>
								<th>Data Proposta</th>
								<th>Valor Solicitado</th>
								<th>Categoria</th>
								<th>Taxa Praticada</th>
								<th>Valor Juros</th>
								<th>Valor Total</th>
							</tr>
							<tr ng-repeat="an in analises">
								<td>{{an.dataProposta}}</td>
								<td>{{an.valorSolicitado | currency : 'R$' : 2}}</td>
								<td>{{an.categoriaRisco}}</td>
								<td>{{an.taxaPraticada | currency : '' : 2}}</td>
								<td>{{an.valorJuros | currency : 'R$' : 2}}</td>
								<td>{{an.valorTotal | currency : 'R$' : 2}}</td>
							</tr>
						</table>
					</div>
				</div>

			</div>
		</div>

	</body>
</html>
